
  /users:
    get:
      tags:
      - getAllUsers
      summary: 모든 유저 정보 가져오기
      description: description
      produces:
      - application/json
      - application/xml
      parameters:
      - name: getAllUsers
        in: headers
        description: null
        required: true
        type: array
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
      responses:
        200:
          description: successful operation
          schema:
            title:
            type: array
            items:
              title:
              type: object
              properties:
                users:
                  type: string
                logInfo:
                  type: object
                  properties:
                    device_info:
                      type: string

        400:
          description: Invalid tag value

  /users/me:
    get:
      tags:
      - getMyInfo
      summary: 내 정보 가져오기
      description: description
      produces:
      - application/json
      - application/xml
      parameters:
      - name: getMyInfo
        in: headers
        description: null
        required: true
        type: array
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
      responses:
        200:
          description: successful operation
          schema:
            title:
            type: array
            items:
              title:
              type: object
              properties:
                user:
                  type: string
                logInfo:
                  type: object
                  properties:
                    device_info:
                      type: string

        400:
          description: Invalid tag value

    delete:
      tags:
      - deleteUser
      summary: 유저 삭제
      description: description
      produces:
      - application/json
      - application/xml
      parameters:
      - name: deleteUser
        in: headers body
        description:
        required: true
        type: array
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
              body:
                type: object
                properties:
                  user_id:
                    type: object

      responses:
        200:
          description: successful operation
          schema:
            title:
            type: array
            items:
              title:
              type: object
              properties:
                msg:
                  type: string
                logInfo:
                  type: object
                  properties:
                    user_id:
                      type: string
                    device_info:
                      type: string

        400:
          description: Invalid tag value

  /users/:idx:
    get:
      tags:
      - getUserInfo
      summary: 다른 *한 사람* 유저 정보 get하기
      description: description
      produces:
      - application/json
      - application/xml
      parameters:
      - name: getUserInfo
        in: headers params
        description:
        required: true
        type: array
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
              params:
                type: object
                properties:
                  idx:
                    type: string
      responses:
        200:
          description: successful operation
          schema:
            title:
            type: array
            items:
              title:
              type: object
              properties:
                user:
                  type: string
                logInfo:
                  type: object
                  properties:
                    user_id:
                      type: string
                    device_info:
                      type: string

        400:
          description: Invalid tag value

  /users/search/:word:
    get:
      tags:
      - searchUser
      summary: 유저 초성 검색
      description: description
      produces:
      - application/json
      - application/xml
      parameters:
      - name: searchUser
        in: headers params
        description:
        required: true
        type: array
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
              params:
                type: object
                properties:
                  word:
                    type: string
      responses:
        200:
          description: successful operation
          schema:
            title:
            type: array
            items:
              title:
              type: object
              properties:
                result:
                  type: object
                  properties:
                    idx:
                      type: string
                    img:
                      type: string
                    nickname:
                      type: string
                    state_message:
                      type: string
                msg:
                  type: string
                logInfo:
                  type: object
                  properties:
                    device_info:
                      type: string

        400:
          description: Invalid tag value

  /matchuser_id/:user_id:
    get:
      tags:
      - checkDuplicatedUserId
      summary: 유저 user_id 중복 확인
      description: description
      produces:
      - application/json
      - application/xml
      parameters:
      - name: checkDuplicatedUserId
        in: headers params
        description: user_id
        required: true
        type: array
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
              params:
                type: object
                properties:
                  user_id:
                    type: string
      responses:
        200:
          description: successful operation
          schema:
            title:
            type: array
            items:
              title:
              type: object
              properties:
                check:
                  type: boolean
                logInfo:
                  type: object
                  properties:
                    user_id:
                      type: string
                    device_info:
                      type: string

        400:
          description: Invalid tag value

  /matchuser_nickname/:nickname:
    get:
      tags:
      - checkDuplicatedUserNickname
      summary: 유저 닉네임 중복 확인
      description: description
      produces:
      - application/json
      - application/xml
      parameters:
      - name: checkDuplicatedUserNickname
        in: headers params
        description:
        required: true
        type: array
        items:
            title:
            type: object
            properties:
              headers:
                type: object
                properties:
                  service_issueur:
                    type: string
                  id_token:
                    type: string
                  device_info:
                    type: string
              params:
                type: object
                properties:
                  nickname:
                    type: string
      responses:
        200:
          description: successful operation
          schema:
            title:
            type: array
            items:
              title:
              type: object
              properties:
                check:
                  type: boolean
                msg:
                  type: string
                logInfo:
                  type: object
                  properties:
                    nickname:
                      type: string
                    device_info:
                      type: string

        400:
          description: Invalid tag value
